<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card text-white bg-dark mb-3">
        <h3 class="card-header">What is radio-browser?</h3>
        <div class="card-body">
          <p class="card-text">This is a community driven effort (like wikipedia) with the aim of collecting as many
            internet radio and TV stations as possible. Any help is appreciated!</p>
          <ul class="card-text">
            <li>Free for ALL!</li>
            <li>Data license: public domain, software license: GPL, server software: open source</li>
            <li>Open API for usage in own apps</li>
            <li>Everyone is free to use the collected data (station names, tags, links to stream,
              links to homepages, language, country, state) in their works. I give all the rights I
              have at the accumulated data to the public domain.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-dark mb-3">
        <h3 class="card-header">Statistics</h3>
        <div class="card-body">
          <div class="d-flex justify-content-center" *ngIf="!stats">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <p class="card-text" *ngIf="stats">
            Station count at the moment: <b>{{stats.stations}}</b>
            <br /> Station clicks last hour: <b>{{stats.clicks_last_hour}}</b>
            <br /> Station clicks last day: <b>{{stats.clicks_last_day}}</b>
            <br /> Distinct tags: <b>{{stats.tags}}</b>
            <br /> Distinct countries: <b>{{stats.countries}}</b>
            <br /> Distinct languages: <b>{{stats.languages}}</b>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card text-white bg-dark mb-3">
        <h3 class="card-header">What can radio-browser do for you?</h3>
        <div class="card-body">
          <p class="card-text">
            <u>I want to listen to radio</u><br />
            Please have a look at the list of apps that use this service by clicking
            on "<a [routerLink]="'/users'">Apps</a>" in the
            header bar. You can also just use the search field on this webpage to find streams you want
            to listen to. Maybe you want a list of the <a [routerLink]="'/topclick'">most clicked
              streams</a> of this service?
          </p>
          <p class="card-text">
            <u>I want to add a stream to the database</u><br />
            Just click "<a [routerLink]="'/add'">New station</a>" and add the
            stream. This service is completely automatic. More information in the FAQ. Streams CANNOT be
            changed at the moment by users.
          </p>
          <p class="card-text">
            <u>I am the owner of a stream</u><br />
            You can <a [routerLink]="'/add'">add your stream</a>. Streams
            can only be changed at the moment by the owner. Please
            <a [routerLink]="'/owners'">follow the tutorial</a> if you
            want to change your stream.
          </p>
          <p class="card-text">
            <u>I am an app developer</u><br />
            Have a look at the API documentation at <a href="http://api.radio-browser.info">api.radio-browser.info</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card text-white bg-dark mb-3">
        <h3 class="card-header">Reporting bugs</h3>
        <div class="card-body">
          I found a bug and want to report it:
          <ul class="card-text">
            <li><a href="https://gitlab.com/radiobrowser/radiobrowser-web-angular">This website</a></li>
            <li><a href="https://github.com/segler-alex/radiobrowser-api-rust">Backend / Server</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card text-white bg-dark mb-3">
        <h3 class="card-header">Legal</h3>
        <div class="card-body">
          <p class="card-text">
            I'm not in any way responsible for the entries on this webpage because this is a
            community-driven effort
            (like Wikipedia for example). Nor am I responsible for the radio stations that can be found
            here themselves.
          </p>
          <p class="card-text">Admin: <a href="mailto:segler_alex@web.de">Mail</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
